.about {
  padding: 4rem 0;
}

.abt {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}

.pfp {
  max-width: 40%;
}

.about-me {
  width: 100%;
  font-size: 1.5rem;
}

.pricing ol {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.comm-card {
  text-align: left;
  display: block;
  width: 100%;
  position: relative;
}

h3 {
  font-size: 4rem;
  margin: .5rem .5rem 0 .75rem;
  color: #fff;
}

.comm-card p {
  color: #fff;
  font-size: 1.5rem;
  margin: 1rem .7rem auto .75rem;
}

.comm-bg {
  z-index: 0;
}

.comm-content {
  position: absolute;
  top: .5rem;
  z-index: 2;
}

@media only screen and (min-width: 38em) {

  .pricing ol {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .about-me {
    max-width: 50%;
  }

}

@media only screen and (min-width: 60em) {

  section {
    max-width: 70em;
  }

  .about p {
    font-size: 2rem;
  }

  .pricing ol {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

}
