html {
  box-sizing: border-box;
  font-family: Alata, sans-serif;
  line-height: 1.3;
  color: #111;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
}

.banner {
  padding: 5rem 0 3rem;
}

.logo {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 30em;
}

body {
  margin: 0;
}

li {
  text-align: center;
  list-style-type: none;
  padding: .5rem;
}

nav {
  position: relative;
}

.site-nav > li {
  width: 33.3333%;
}

.page-nav > li {
  font-size: 1.5rem;
  width: 100%;
  background-color: #2caaff;
}

.bb {
  position: absolute;
  transform: rotate(180deg);
}

.bbxs {
  display: none;
  transform: rotate(180deg);
}

nav a {
  color: #fff;
  display: block;
}

a {
  text-decoration: none;
}

nav li:hover {
  background-color: #ffc414;
}

nav li:hover > a {
  color: #243f8f;
}

ul {
  padding-left: 0;
  margin: 0;
}

ol {
  padding-left: 0;
  margin: 0;
}

section {
  width: 90%;
  margin: 0 auto;
}

.site-nav {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.page-nav {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.75rem;
  text-align: center;
  color: #243f8f;
  margin: 0;
}

h2 {
  width: 100%;
  display: block;
  font-size: 3rem;
  color: #243f8f;
}

footer h2 {
  color: #fff;
  margin: 4rem 0 2rem;
}

footer {
  background-color: #2caaff;
  padding-bottom: 1rem;
  margin-top: 4rem;
}

.social {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;
  flex-wrap: wrap;
}

.social-ico {
  width: 40%;
  max-width: 256px;
  margin-bottom: 2rem;
}

.rnded {
  border-radius: 20%;
}

small {
  color: #fff;
}

@media only screen and (min-width: 33em) {

  .banner {
    padding-top: 6rem;
  }

}

@media only screen and (min-width: 38em) {

  h2 {
    font-size: 5rem;
  }

  .banner {
    padding-top: 8rem;
  }

  .page-nav {
    flex-direction: row;
    height: 4rem;
  }

  .page-nav a {
    font-size: 2rem;
  }

  .site-nav > li {
    font-size: 1.5rem;
  }

  .social-ico:hover {
    border: solid 10px #ffc414;
    border-radius: 26%;
  }

  .social {
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .social-ico {
    width: 15%;
  }

}

@media only screen and (min-width: 50em) {

  .bbxs {
    display: block;
  }

  .banner {
    padding-top: 3rem;
  }

  .bb {
    display: none;
  }

}

@media only screen and (min-width: 60em) {

  .bbxs {
    transform: translateY(-1.5rem) rotate(180deg);
  }

}

@media only screen and (min-width: 100em) {

  .site-nav li {
    height: 4.5rem;
  }

  .site-nav a {
    font-size: 2.5rem;
  }

}
