html {
  box-sizing: border-box;
  font-family: Alata, sans-serif;
  line-height: 1.3;
  color: #111;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
}

.banner {
  padding: 4rem 0;
}

.logo {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 30em;
}

body {
  margin: 0;
}

li {
  text-align: center;
  list-style-type: none;
  padding: .5rem;
}

.site-nav > li {
  width: 33.3333%;
  background-color: #2caaff;
}

.page-nav > li {
  font-size: 1.5rem;
  width: 100%;
  background-color: #2caaff;
}

nav a {
  color: #fff;
}

a {
  text-decoration: none;
}

nav li:hover {
  background-color: #ffc414;
}

nav li:hover > a {
  color: #243f8f;
}

ul {
  padding-left: 0;
  margin: 0;
}

ol {
  padding-left: 0;
  margin: 0;
}

.site-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.page-nav {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.75rem;
  text-align: center;
  color: #243f8f;
  margin: 0;
}

h2 {
  width: 100%;
  display: block;
  font-size: 3rem;
  color: #243f8f;
}

@media only screen and (min-width: 38em) {

  h2 {
    font-size: 5rem;
  }

  .page-nav {
    flex-direction: row;
  }

}

@media only screen and (min-width: 60em) {

  .site-nav > li {
    font-size: 1.5rem;
  }

}
